In [159]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [160]:
df = pd.read_csv('Desktop\Machine Learning\Housing Prediction Mumbai\MumbaiPredictionValues.csv')
df

,Unnamed: 0,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [161]:
df = df.drop(df.columns[0], axis=1)
df

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [162]:
df1 = df
df1

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [163]:
df['Price'].unique()

array([  4850000,   4500000,   6700000,   5000000,  17000000,  12500000,
        10500000,  15000000,   8700000,   9000000,  11000000,   9700000,
         8000000,   8500000,   9300000,   9900000,   4200000,  28000000,
        40000000,  16000000,   9500000,   7500000,  13000000,  13700000,
         7700000,   6000000,   6200000,   6500000,   5200000,   5500000,
        16500000,  11399999,  13500000,  22500000,   5700000,   4800000,
         4300000,   5300000,   4803000,  15500000,   9400000,   5600000,
        17500000,  12000000,  16600000,   4900000,  22000000,  17800000,
        14000000,   7200000,   7000000,  10000000,   6900000,   8300000,
         5100000,   5400000,  17100000,  11800000,   4100000,  19000000,
        13600000,   8600000,   4700000,  16200000,  13200000,  11600000,
         2018000,  65000000,  45000000,   2375000,  19500000,   2000000,
         2500000,   2250000,   2700000,  43500000,   4760000,  18100000,
        23800000,  21200000,  36500000,  23700000,  21400000,  18000000,
        35300000,  15300000,  25000000,  13899999,  33500000,  14500000,
        21600000,  27799999,  27900000,  81600000,  38600000,  60100000,
        31500000,  37500000,  31000000,  21100000,  26000000,  15200000,
         2300000,  33000000,  29000000,  11200000,  11500000,  12100000,
        27000000,  30200000,  41200000,  30500000,  36700000,  20500000,
        32500000,  27500000,  35900000,  42000000,  33100000, 106000000,
       101400000,  18500000,   9200000,  50100000,  34100000,  21800000,
         3000000,  17900000,   6400000,  90000000,   2100000,   3600000,
        10100000,  10800000,  12700000,   8800000,  16800000,  16299999,
         3400000,  33700000,  10700000,  17600000,   4000000,   6250000,
         3800000,   4400000,   2600000,  21000000,  19600000,  18600000,
        21500000,  13799999,   9600000,   2010000,   2005000,   2548000,
         2492000,   2418000,   2400000,  21700000,  16700000,   2900000,
         5425000,   7100000,   7800000,   5900000,   4050000,   5050000,
         7400000,   6800000,   7950000,   5460000,   4950000,   8575000,
         7900000,  36000000,  35000000,  30000000,  14900000,   3700000,
         3850000,   2850000,   6850000,  10200000,   3100000,  32799999,
        36100000,   3682000,   2865000,   2374000,  62500000,  26500000,
        10600000,   3985000,   2200000,   2650000,   4600000,  72000000,
         6100000,   3950000,  11100000,   3500000,   5800000,   8200000,
        29500000,   3588000,   3650000,   3001000,   3300000,   6300000,
         2580000,   3594000,   5760000,   6952000,   2451000,   6137000,
         8100000,   3350000,  85000000, 125000000,  80000000,  28800000,
        45100000,  39200000,  25400000,  20000000,  46500000,  33400000,
         2035000,   6600000,  11700000,  23000000,  20700000,   3874000,
        22100000,  28500000,  18800000,  24000000,   9800000,  28200000,
        26400000,  10900000,   7300000,  19100000,   2170000,  34800000,
        11299999,   8725000,  58500000,  40199999,   2350000,   2800000,
        31100000,  30400000,  12300000,  13300000, 180000000,  29400000,
        24500000,  47000000, 100000000, 360000000,   7600000,   3200000,
         9350000,  48000000,  72500000,  70000000, 175000000,  86500000,
       120000000,  75000000,  32000000, 150000000,  55000000, 400000000,
        25500000, 112500000,   6990000,  14200000,  23300000, 110000000,
        56000000,  52500000,  12600000,  38000000,  92500000,  12200000,
        12400000,  28400000,   6656000,   9750000,  50000000,   9250000,
        20099999,  41500000,  24800000,   5545000,   5556000,   7311000,
         2399000,  60000000,   3467000,   6370000,   3310000,   2770000,
         2670000,   2110000, 200000000,  65300000,  38700000,  51500000,
        14800000,   2050000,   8009999,   8400000,   7430000,  25700000,
        62000000,   2011000,   2014999,   2021000,   2116000,  37000000,
        19900000,  32100000,  18200000,  39600000,  32599999,  18900000,
        21900000,  23500000, 220000000,  42500000,   3720000,  14700000,
        43700000,  63000000,  12900000,  14100000,  31200000,  39900000,
        22200000,  20200000,   2625000, 145000000,   6350000,   3250000,
         2450000,   2750000,   2077000,  12800000,   8900000,   8750000,
         2476000,  34000000,  19400000,  24100000,   6193000,  10300000,
         8655000,   3900000,   3624000,   7031000,  39000000,   2357000,
        15400000,  17200000,   6050000,  15800000,   7050000,  53000000,
         4665000,  28600000,   2164000,   5994000,   2534000,  19700000,
         2105000, 160000000, 250000000,   4350000, 153600000,   3750000,
       260000000,  32300000,  35500000,  11900000,   9100000,  46000000,
       140000000, 170000000,  57000000, 420000000,   8250000,   7053000,
         4713000,  95100000, 119900000,   4199000,   7575000,  39400000,
        66600000,  59500000,  43000000,  44000000,   9485000,   8184999,
         9377000,   9958000,   9997000,  10400000,  92400000, 113400000,
       139500000,   4925000,   5898000,   6498999,   9497000,   6497000,
         7998000,   9496000,   5894000,   7494000,   6498000,   7495999,
         9499000,   4250000,  15900000,   5550000,  29200000,  59400000,
         7959999,   3979999,   4380000,   5060000,   4580000,   4450000,
         2840000,   2560000,   4650000, 105500000,  88000000, 122500000,
        71000000,   2816000,   2596000,   6559999,   7240000,   7940000,
        25800000,   2394000,   2436000,   2225000,   2565000,  25600000,
        77500000,  82500000,   3853000,   4907000,   8323999,  33800000,
        23900000,   3797999,   3890000,   2425000,   2815000,   3615000,
         3999000,   3954999,   3415000,   3410000,  15100000,   5399000,
        29900000,   8338000,   6426000,   8480000,   6048000,   8330000,
         6120000,  57500000,  41900000,   7837000,   5250000, 230000000,
         7150000,   8320000,   5160000,   5690000,   8413000,   5330000,
        27300000,  67500000,  14600000,   9150000,  15700000,  19300000,
        16399999,  23600000,  16900000,   7450000,  19800000,  38100000,
         9709000,  36400000,  27599999,  78700000,   6217000,   8020000,
        28700000,  51000000,   6419000,  41000000,  58000000,  38500000,
        74500000,  71500000,   3951000,   4151000,   2899000,   5999000,
         5699000,   4099000,   5499000,   5299000,   4399000,   5599000,
         5990000,   4550000,   5325000,   3049000,   2099000,   4499000,
         3372000,   3446000,   4656000,   4621000,   8298999,   7598999,
         7998999,   7798999,   7898999,   6351000,  44500000,  27400000,
         3990000,   4225000,   4140999,  16100000,   7209999,   5637000,
         9450000,   5150000,  31800000,  46200000,  31300000,   8920000,
         7320000,  13100000,  52100000,  14300000,  24600000,   2150000,
         2190000,   5518000,   5650000,   7650000,  64300000,  39100000,
        60500000,  34700000,  25200000, 105000000,   4150000,  82000000,
        54200000,  55400000,  55700000,  60700000,  79200000,  62100000,
        85600000,  54500000,  65500000,  68100000,   2999000,  67000000,
         8016000,   4043000,   4498000,   8294000,   6242000,  17700000,
        99000000,  17400000,  69900000,  57200000,  45199999,  37400000,
        56500000,   9041000,   9167000,   7881000,   5686000,  52600000,
        84500000,  50800000, 101800000,  47800000,  51300000,  20900000,
        17300000,  32700000,  59000000,   8628000,   9745000,   9013000,
         4750000,  47500000,  27100000,  35400000,  39800000,  20299999,
         8844000,   7290000,   6787000,   7198999,   7884000,  35700000,
        31700000,  22300000,  20800000,  19200000,  45500000,  90399999,
        95000000,   2064000,   2888000,   2898000,   2886000,   6998999,
        34500000,   8499000,  36600000,   3747999,   4351000,   4140000,
        26900000,   3425000,   9620000,   8420000,  88699999,   4517000,
         2210000,   2684000,   9520000,   2669000,   2779000,   6299000,
        75100000,  26800000,   5850000,   2378000,   2283000,   2435000,
         5577000,   3329999,  49500000,   2585000,   2574000,   2551000,
         4095000,   2599000,   2582000,   6320000,   3120000,   8359999,
         9230000,   6450000,   2174000,   2156000,   2460000,   7548000,
         3599000,  22400000,  30900000,   6022000,   9570000,  14400000,
         9199000,   6448999,  55599999,   2249000,  94900000,  52400000,
         3424000,   2360000,   2320000,   2640000,  63900000,  51900000,
        47600000,   5099000,   7298999,   8999000,  23200000,   3299000,
         3799000,   4602000,   5675000,   6650000,   7250000,  28100000,
        23400000,  59600000,  45700000,  26200000,   2075000,   8495000,
         4823000,   7618000,   6454000,   8287000,   7930000,   2990000,
         3185000,   3445000,   3565999,   4267000,   4427000,   3872000,
         3125000,   2725000,   3811999,   4052000,   2950000,   2575000,
         6694000,   6663000,  13400000,   9774000,   9226000,  54000000,
        46300000,   8990000,   7731000,   8198999,   9599000,   7498999,
         6575000,   7815000,   8053000,   7652000,   8030000,   7745999,
         6738000,   5229000,   2515000,   6666000,   3977000,   2795000,
         7350000,   4390000,   2882000,   2485000,   3150000,   8381999,
         6186000,   6164000,   8527000,   2331000,   3317000,   8588000,
         2178000,   3877000,   3499000,   3536000,   4361000,   4459000,
         3258000,   4067000,   3087000,   8399000,   8975000,   8599000,
         9618000,   3920000,  27200000,   2139000,   4280000,   2780000,
         2875000,   6220000,   7020000,   9370000,   9550000,   9990000,
         9650000,   8994000,   8822000,   2940000,   4785000,   3663000,
         5555000,   2799000,   5199000,   2550000,   2781000,   5097000,
        26700000,   7890000,   7909999,  49000000,  47900000, 107600000,
        36800000,  79900000,   3550000,   3872999,   4794000,   4554000,
        72300000,   2130000,  38800000,  35200000,  28300000,  29800000,
        73700000,  42600000,  44300000,  59700000,  62800000,  78800000,
         3711999,   3728000,  68000000,   8712000,   8668000,   8580000,
         3450000,   4875000,   5350000,  39500000, 115000000,   4425000,
         4489000,   3151000,   8733000,   6898999,   2910000,   3925000,
         4207000,   3622000,   3779999,   3735000,   4072000,   3757000,
         3892000,   3420000,   2677000,   2835000,   3690000,   2970000,
         4275000,   2520000,   4004999,   3397000,   2767000,   4045000,
         3645000,   4117000,   4410000,   3899000,   3960000,   3829999,
         2288000,   3110000,   3243000,  54100000,   5040000,   2390000,
         5583000,  37600000,  41100000,  22799999,  32900000,  37800000,
        35100000,  34600000,  36900000,   8950000,   4799000,  31900000,
        15600000,  18400000,  26100000,   9601000,   7929000,   4837000,
         6187000,   8212000,   6637000,   7481000,   6862000,   4556000,
        18700000,   3325000,   2836000,  21300000,  23100000,   3050000,
         3675000,   6542000,   4475000,   4396000,   4278000,   2948000,
         3847000,   4163000,   2804000,   3133000,   3365999,   5750000,
         5742000,   8355000,   8064000, 138000000,  40400000,   2330000,
         2265000,   2925000,   2445000,   2345000,   2255000,   2310000,
         2440000,   2305000,   4179999,   4170000,   4299000,   4349000,
         6190000,  40300000,   3188000,  91800000,   3061000,   2063000,
         2929000,   4699000,   4999000,   3699000,   3488000,   8192000,
         5401000,   6798999,   4801000,   8995000,   8978000,   5950000,
         2057000,   3722999,   3988000,   3308000,   3661000,   6152000,
         3459000,   4371000,   3574000,   4584000,   3326000,  29700000,
         4260000,   2576000, 240000000,   3064000,  37700000,  79000000,
         2465000], dtype=int64)

In [164]:
df['Area'].unique()

array([ 720,  600,  650, ...,  250, 1162,  435], dtype=int64)

In [165]:
df['Location'].isnull().unique()

array([False])

In [166]:
df['No. of Bedrooms'].unique()

array([1, 4, 3, 2, 5, 6, 7], dtype=int64)

In [167]:
df['Location'].unique()

array(['Kharghar', 'Sector-13 Kharghar', 'Sector 18 Kharghar',
       'Sector 20 Kharghar', 'Sector 15 Kharghar', 'Dombivali',
       'Churchgate', 'Prabhadevi', 'Jogeshwari West', 'Kalyan East',
       'Malad East', 'Virar East', 'Virar', 'Malad West', 'Borivali East',
       'Mira Road East', 'Goregaon West', 'Kandivali West',
       'Borivali West', 'Kandivali East', 'Andheri East', 'Goregaon East',
       'Wadala', 'Ulwe', 'Dahisar', 'kandivali', 'Goregaon',
       'Bhandup West', 'thakur village kandivali east', 'Santacruz West',
       'Kanjurmarg', 'I C Colony', 'Dahisar W', 'Marol', 'Parel',
       'Lower Parel', 'Worli', 'Jogeshwari East', 'Chembur Shell Colony',
       'Central Avenue', 'Chembur East', 'Diamond Market Road', 'Mulund',
       'Nalasopara West', 'raheja vihar', 'Powai Lake', 'MHADA Colony 20',
       'Tolaram Colony', 'Taloja', 'Thane West', 'Vangani',
       'Sector 5 Ulwe', 'Sector12 New Panvel', 'Sector 17 Ulwe',
       'Sector9 Kamothe', 'Sector 19 Kharghar', 'Navi Basti',
       'Sector12 Kamothe', 'Sector 21 Kamothe', 'Rutu Enclave',
       'taloja panchanand', 'Virar West', 'Chembur', 'Sector 20 Kamothe',
       'Sector 22 Kamothe', 'Sector 18 Kamothe', 'Sector-5 Kamothe',
       'Sector-6A Kamothe', 'Sector 11 Kamothe', 'Sector-18 Ulwe',
       'Sector-12 Kamothe', 'azad nagar', 'Sindhi Society Chembur',
       'Kurla', 'Sahkar Nagar', 'Deonar', 'Thane', 'Jankalyan Nagar',
       'Badlapur', 'Ambarnath', 'Ambernath West', 'Vakola', 'Kamothe',
       'Kamothe Sector 16', 'Almeida Park', 'Khar', 'Bandra West',
       'Pali Hill', '15th Road', 'Palghar', 'Sector13 Kharghar',
       'Sector 21 Kharghar', 'Sector 12 Kharghar', 'Vivek Vidyalaya Marg',
       'Vasai east', 'Nahur', 'Badlapur West', 'Panvel', 'Kalyan',
       'Badlapur East', 'Mira Bhayandar', 'Juhu', 'Naigaon East',
       'Sector 21 Ulwe', 'Bandra East', 'Dronagiri', 'Nerul', 'Karanjade',
       'Sanpada', 'Sector-8 Ulwe', 'Sector-3 Ulwe', 'Sector 23 Ulwe',
       'ULWE SECTOR 19', 'Ghodbunder Road', 'Bhiwandi', 'Vasai',
       'Nala Sopara', 'Dadar East', 'Ghatkopar', 'Breach Candy',
       'Worli South Mumbai', 'Asangaon', 'Koparkhairane Station Road',
       'Kopar Khairane Sector 19A', 'Koper Khairane',
       'Eastern Express Highway Vikhroli', 'Magathane', 'Rawal Pada',
       'Ambernath East', 'Dokali Pada', 'Dattapada', 'Rajendra Nagar',
       'Kulupwadi', 'Samata Nagar Thakur Village', 'Mira Road and Beyond',
       'West Amardeep Colony', 'Pant Nagar', 'mumbai', 'Four Bungalows',
       'no 9', 'kolshet', 'Hiranandani Meadows', 'Kalpataru', 'Petali',
       'Kharghar Sector 34C', 'Ghatkopar East',
       'Mumbai Agra National Highway', 'vasant vihar thane west',
       'Kalyan West', 'Shirgaon', 'Pokhran 2', 'juhu tara', 'Peddar Road',
       'Palm Beach', 'Sector 10', 'Sector 19 Kamothe', 'Tilak Nagar',
       'Ghatkopar West', 'Tardeo', 'Napeansea Road', 'Mahalaxmi',
       'Dahisar West', 'Mulund West', 'Natakwala Lane', 'Link Road',
       'Devidas Cross Lane', 'Soniwadi Road', 'Haridas Nagar', 'Shimpoli',
       'TPS Road', 'Off Shimpoli road', 'Rustomjee Global City',
       'Sunil Nagar', 'Sector 30 Kharghar', 'Sector 12 A', 'Sector 18',
       'Sector13 Khanda Colony', 'Sector16 Airoli', 'Ranjanpada',
       'Sector 15', 'Sector 35G', 'Sector 5', 'Sector 35I Kharghar',
       'Sector35D Kharghar', 'Sector34 A Kharghar', 'Sector 30',
       'Sector 36 Kharghar', 'Sector 11 Belapur', 'Sector-34B Kharghar',
       'Dombivali East', 'Roadpali', 'Sector-50 Seawoods',
       'Mumbai Highway', 'Sector 7 Kharghar', 'Lokhandwala Township',
       'Andheri', 'Andheri West', 'Shastri Nagar', 'Wadala East Wadala',
       'Kalwa', 'PARSIK NAGAR', 'Maharashtra Nagar', 'Patlipada',
       'Belapur', 'Seawoods', 'Majiwada', '4 Bunglows', 'Airoli',
       'Kolshet Road', 'Sector 10 Khanda Colony', 'Pokharan Road',
       'Kharegaon', 'Panch Pakhadi', 'Sector 36 Kamothe',
       'Dombivli (West)', 'DN Nagar Road', 'Godrej Hill', 'Ganesh Nagar',
       'Haware City', 'Mahatma Gandhi Road', 'Akurli Nagar',
       'Kasar vadavali', 'Vasai West', 'Mumbai Nashik Expressway',
       'Katrap', 'Mira Road', 'Kasheli',
       'Western Express Highway Kandivali East', 'Vasind', 'KASHELI',
       'Thakurli', 'Shakti Nagar', 'Bhayandar East', 'Dahisar East',
       'ulhasnagar 4', 'Sector-26 Taloja', 'Koproli', 'Mumbai Central',
       'Greater Khanda', 'link road borivali west', 'Manpada',
       'Sector 2 Ulwe', 'Govind nagar', 'Krishanlal Marwah Marg',
       'Sector-9 Ulwe', 'Vikhroli', 'Kalamboli', 'Lokhandwala',
       'Patel Nagar', 'Yari Road', 'Thakur complex', 'Khar West',
       'Sector 11 Kharghar', 'Ghansoli', 'Sector8 Sanpada',
       'Jeejamata Nagar', 'Pandurangwadi', 'Shreyas Colony',
       'Kannamwar Nagar II', 'gokuldham', 'Bangur Nagar',
       'Shivaji Colony', 'Jawahar Nagar', 'Vedant Complex', 'Titwala',
       'Manvel pada Road', 'Govandi', 'Shilphata Road Thane',
       'Vasant Vihar', 'Thakur Village', 'Samata nagar', 'Wadi Bandar',
       'Kapurbawadi', 'Thane Belapur Road Kalwa', 'Suburbs Mumbai',
       'Ramdev Park', 'Sector-35 Kamothe',
       'Sector 58A Seawoods Navi Mumbai', 'Diva', 'Borivali',
       'Gundavali Gaothan', 'Kondivita Road', 'Koldongri', 'Saki Naka',
       'Bhayandar West', 'Versova', 'Hanuman Nagar', 'worli sea face ',
       'Sea Face', 'Shiv Sagar Estate', 'Grant Road West', 'Sriprastha',
       'Off Nepean Sea Road', 'Morya Nagar', 'Upper Worli',
       'worli sea Fase', 'Powai', 'Agripada', 'Sion', 'Girgaon',
       'IT Colony', 'Bhayandarpada', 'Sector-24 Kamothe', 'Phase 2',
       'Sector 6', 'Malad', 'Haji Ali', 'Majiwada thane', 'Yogi Hills',
       'Sector 19 Nerul', 'Owale', 'MG Road', 'roadpali navimumbai',
       'Taloja Bypass Nitalas Link Road', 'Rasayani', 'Sector 10 Kamothe',
       'kavesar', 'Kopara', 'royal palms goregaon east', 'Dadar West',
       'vrindavan society', 'CBD Belapur East', 'Parel Village',
       'Karave Nagar', 'Sector 19A Nerul', 'Antop Hill', 'Suman Nagar',
       'Bhakti Park', 'Hanuman Chowk', 'Willingdon', 'VishnuNagar',
       'Vichumbe', 'Vashi', 'Poonam Sagar Complex', 'Santacruz East',
       'Mulund East', 'Sector-8 Sanpada', 'Sector-9 Ghansoli', 'Balkum',
       'Hiranandani Estates', 'Vartak Nagar', 'Charkop', 'dhanukarwadi',
       'Vazira', 'Four Bunglows', 'Palava',
       'Oshiwara Police Station Road', 'Seven Bunglow', 'Poddar Road',
       'Gulmohar Road', 'Vile Parle E', 'Pokhran Road No 2',
       'Sainath Nagar', 'Kapur Bawdi', 'Manpada near Tiku ji ni wadi',
       'Kolshet Industrial Area', 'Sector16 Ulwe',
       'Anand Nagar Thane West', 'Charkop Sector 8', 'Vile Parle',
       'Marine Lines', 'Bandra Kurla Complex', 'sec 50 new',
       'Vakola Pipeline Road', 'Neral', 'Shil Phata', 'Ville Parle East',
       'matunga east', 'Dharavi', 'vile parle west', 'Anjurdive', 'Uran',
       'Boisar', 'Kanjurmarg East', 'Kurla West', 'Sewri', 'Matunga',
       'Goregaon (East)', 'Malabar Hill', 'Ambivali', 'Nalasopara East',
       'Vijay Nagar', 'Chedda Nagar', 'Kurla East', 'Kharodi',
       'Ville Parle West', 'Vikhroli West', 'Wadala East', 'Palidevad',
       'Vikroli East', 'Mahim', 'Khalapur', 'Karjat', 'Vitthalwadi',
       'Bhoiwada Kalyan', 'Beturkar Pada', 'Ambivli', 'Nilje Gaon',
       'Khopoli', 'Taloje', 'Gulal Wadi', 'Tilak Nagar Mumbai',
       'Chandivali', 'Nere', 'Kewale', 'Sector 9 Airoli', 'Diva Gaon',
       'Sen Nagar', 'Adaigaon', 'Syndicate', 'Gandhar Nagar', 'Byculla',
       'Padle Gaon'], dtype=object)

In [168]:
df.shape

(6347, 18)

In [169]:
df2 = df[df["Location"].str.contains("Sector")==False]
df2

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [170]:
df[df['Location']=="Airoli"]

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
964,6200000,400,Airoli,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
965,9500000,1000,Airoli,2,0,0,1,1,1,1,0,1,0,0,0,0,0,1
1145,14900000,1245,Airoli,2,1,0,1,1,0,0,0,0,0,0,0,1,0,0
1146,14000000,1183,Airoli,2,1,1,1,1,0,1,1,1,1,1,1,0,1,1
1884,14800000,1245,Airoli,2,0,0,1,1,1,1,0,0,0,0,0,0,0,0
2433,6400000,495,Airoli,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4105,11100000,1050,Airoli,2,0,0,1,0,0,0,0,0,0,0,0,1,0,0
4148,7500000,600,Airoli,1,0,0,1,0,0,1,1,1,1,1,1,1,1,0
4153,7500000,600,Airoli,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0
4177,7600000,650,Airoli,1,0,0,0,0,0,0,1,1,1,1,0,0,1,1
4272,6500000,650,Airoli,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0
4273,9500000,780,Airoli,1,0,1,1,0,0,0,1,0,0,0,1,1,0,0
4274,6600000,640,Airoli,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0
4275,7800000,660,Airoli,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4276,7800000,660,Airoli,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0
4277,5900000,666,Airoli,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4278,7500000,1050,Airoli,1,0,0,1,0,0,1,1,1,0,1,1,1,1,0
4279,7000000,700,Airoli,1,0,0,1,0,0,0,1,0,1,0,0,1,0,0
4280,7000000,680,Airoli,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4364,14000000,1245,Airoli,2,0,1,1,0,0,0,1,1,1,0,0,0,0,1
4480,6100000,650,Airoli,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
4494,7500000,675,Airoli,1,0,0,1,0,0,1,1,1,1,1,1,0,1,0
4637,13500000,527,Airoli,2,1,0,1,1,0,0,0,0,0,0,0,0,0,0
4638,17500000,781,Airoli,3,1,0,1,1,0,0,0,0,0,0,0,0,0,0
5683,7000000,600,Airoli,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
6157,8400000,952,Airoli,2,0,0,1,0,0,0,0,0,0,0,0,0,0,0
6248,8400000,660,Airoli,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6249,7300000,600,Airoli,1,0,0,1,0,0,0,0,0,1,0,0,1,0,0

In [171]:
df2['Location'].unique()

array(['Kharghar', 'Dombivali', 'Churchgate', 'Prabhadevi',
       'Jogeshwari West', 'Kalyan East', 'Malad East', 'Virar East',
       'Virar', 'Malad West', 'Borivali East', 'Mira Road East',
       'Goregaon West', 'Kandivali West', 'Borivali West',
       'Kandivali East', 'Andheri East', 'Goregaon East', 'Wadala',
       'Ulwe', 'Dahisar', 'kandivali', 'Goregaon', 'Bhandup West',
       'thakur village kandivali east', 'Santacruz West', 'Kanjurmarg',
       'I C Colony', 'Dahisar W', 'Marol', 'Parel', 'Lower Parel',
       'Worli', 'Jogeshwari East', 'Chembur Shell Colony',
       'Central Avenue', 'Chembur East', 'Diamond Market Road', 'Mulund',
       'Nalasopara West', 'raheja vihar', 'Powai Lake', 'MHADA Colony 20',
       'Tolaram Colony', 'Taloja', 'Thane West', 'Vangani', 'Navi Basti',
       'Rutu Enclave', 'taloja panchanand', 'Virar West', 'Chembur',
       'azad nagar', 'Sindhi Society Chembur', 'Kurla', 'Sahkar Nagar',
       'Deonar', 'Thane', 'Jankalyan Nagar', 'Badlapur', 'Ambarnath',
       'Ambernath West', 'Vakola', 'Kamothe', 'Almeida Park', 'Khar',
       'Bandra West', 'Pali Hill', '15th Road', 'Palghar',
       'Vivek Vidyalaya Marg', 'Vasai east', 'Nahur', 'Badlapur West',
       'Panvel', 'Kalyan', 'Badlapur East', 'Mira Bhayandar', 'Juhu',
       'Naigaon East', 'Bandra East', 'Dronagiri', 'Nerul', 'Karanjade',
       'Sanpada', 'ULWE SECTOR 19', 'Ghodbunder Road', 'Bhiwandi',
       'Vasai', 'Nala Sopara', 'Dadar East', 'Ghatkopar', 'Breach Candy',
       'Worli South Mumbai', 'Asangaon', 'Koparkhairane Station Road',
       'Koper Khairane', 'Eastern Express Highway Vikhroli', 'Magathane',
       'Rawal Pada', 'Ambernath East', 'Dokali Pada', 'Dattapada',
       'Rajendra Nagar', 'Kulupwadi', 'Samata Nagar Thakur Village',
       'Mira Road and Beyond', 'West Amardeep Colony', 'Pant Nagar',
       'mumbai', 'Four Bungalows', 'no 9', 'kolshet',
       'Hiranandani Meadows', 'Kalpataru', 'Petali', 'Ghatkopar East',
       'Mumbai Agra National Highway', 'vasant vihar thane west',
       'Kalyan West', 'Shirgaon', 'Pokhran 2', 'juhu tara', 'Peddar Road',
       'Palm Beach', 'Tilak Nagar', 'Ghatkopar West', 'Tardeo',
       'Napeansea Road', 'Mahalaxmi', 'Dahisar West', 'Mulund West',
       'Natakwala Lane', 'Link Road', 'Devidas Cross Lane',
       'Soniwadi Road', 'Haridas Nagar', 'Shimpoli', 'TPS Road',
       'Off Shimpoli road', 'Rustomjee Global City', 'Sunil Nagar',
       'Ranjanpada', 'Dombivali East', 'Roadpali', 'Mumbai Highway',
       'Lokhandwala Township', 'Andheri', 'Andheri West', 'Shastri Nagar',
       'Wadala East Wadala', 'Kalwa', 'PARSIK NAGAR', 'Maharashtra Nagar',
       'Patlipada', 'Belapur', 'Seawoods', 'Majiwada', '4 Bunglows',
       'Airoli', 'Kolshet Road', 'Pokharan Road', 'Kharegaon',
       'Panch Pakhadi', 'Dombivli (West)', 'DN Nagar Road', 'Godrej Hill',
       'Ganesh Nagar', 'Haware City', 'Mahatma Gandhi Road',
       'Akurli Nagar', 'Kasar vadavali', 'Vasai West',
       'Mumbai Nashik Expressway', 'Katrap', 'Mira Road', 'Kasheli',
       'Western Express Highway Kandivali East', 'Vasind', 'KASHELI',
       'Thakurli', 'Shakti Nagar', 'Bhayandar East', 'Dahisar East',
       'ulhasnagar 4', 'Koproli', 'Mumbai Central', 'Greater Khanda',
       'link road borivali west', 'Manpada', 'Govind nagar',
       'Krishanlal Marwah Marg', 'Vikhroli', 'Kalamboli', 'Lokhandwala',
       'Patel Nagar', 'Yari Road', 'Thakur complex', 'Khar West',
       'Ghansoli', 'Jeejamata Nagar', 'Pandurangwadi', 'Shreyas Colony',
       'Kannamwar Nagar II', 'gokuldham', 'Bangur Nagar',
       'Shivaji Colony', 'Jawahar Nagar', 'Vedant Complex', 'Titwala',
       'Manvel pada Road', 'Govandi', 'Shilphata Road Thane',
       'Vasant Vihar', 'Thakur Village', 'Samata nagar', 'Wadi Bandar',
       'Kapurbawadi', 'Thane Belapur Road Kalwa', 'Suburbs Mumbai',
       'Ramdev Park', 'Diva', 'Borivali', 'Gundavali Gaothan',
       'Kondivita Road', 'Koldongri', 'Saki Naka', 'Bhayandar West',
       'Versova', 'Hanuman Nagar', 'worli sea face ', 'Sea Face',
       'Shiv Sagar Estate', 'Grant Road West', 'Sriprastha',
       'Off Nepean Sea Road', 'Morya Nagar', 'Upper Worli',
       'worli sea Fase', 'Powai', 'Agripada', 'Sion', 'Girgaon',
       'IT Colony', 'Bhayandarpada', 'Phase 2', 'Malad', 'Haji Ali',
       'Majiwada thane', 'Yogi Hills', 'Owale', 'MG Road',
       'roadpali navimumbai', 'Taloja Bypass Nitalas Link Road',
       'Rasayani', 'kavesar', 'Kopara', 'royal palms goregaon east',
       'Dadar West', 'vrindavan society', 'CBD Belapur East',
       'Parel Village', 'Karave Nagar', 'Antop Hill', 'Suman Nagar',
       'Bhakti Park', 'Hanuman Chowk', 'Willingdon', 'VishnuNagar',
       'Vichumbe', 'Vashi', 'Poonam Sagar Complex', 'Santacruz East',
       'Mulund East', 'Balkum', 'Hiranandani Estates', 'Vartak Nagar',
       'Charkop', 'dhanukarwadi', 'Vazira', 'Four Bunglows', 'Palava',
       'Oshiwara Police Station Road', 'Seven Bunglow', 'Poddar Road',
       'Gulmohar Road', 'Vile Parle E', 'Pokhran Road No 2',
       'Sainath Nagar', 'Kapur Bawdi', 'Manpada near Tiku ji ni wadi',
       'Kolshet Industrial Area', 'Anand Nagar Thane West', 'Vile Parle',
       'Marine Lines', 'Bandra Kurla Complex', 'sec 50 new',
       'Vakola Pipeline Road', 'Neral', 'Shil Phata', 'Ville Parle East',
       'matunga east', 'Dharavi', 'vile parle west', 'Anjurdive', 'Uran',
       'Boisar', 'Kanjurmarg East', 'Kurla West', 'Sewri', 'Matunga',
       'Goregaon (East)', 'Malabar Hill', 'Ambivali', 'Nalasopara East',
       'Vijay Nagar', 'Chedda Nagar', 'Kurla East', 'Kharodi',
       'Ville Parle West', 'Vikhroli West', 'Wadala East', 'Palidevad',
       'Vikroli East', 'Mahim', 'Khalapur', 'Karjat', 'Vitthalwadi',
       'Bhoiwada Kalyan', 'Beturkar Pada', 'Ambivli', 'Nilje Gaon',
       'Khopoli', 'Taloje', 'Gulal Wadi', 'Tilak Nagar Mumbai',
       'Chandivali', 'Nere', 'Kewale', 'Diva Gaon', 'Sen Nagar',
       'Adaigaon', 'Syndicate', 'Gandhar Nagar', 'Byculla', 'Padle Gaon'],
      dtype=object)

In [172]:
df3 = df2[df2["Location"].str.islower()==False]
df3

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [173]:
df3 = df3[df3["Location"].str.isupper()==False]
df3

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [174]:
df3

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool
0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0
1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1
2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1
3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0
6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1

In [175]:
df3['Price_in_Lac'] = df3['Price']/10000
df4 = df3
df4

C:\Users\dev24\AppData\Local\Temp\ipykernel_8116\1279558983.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['Price_in_Lac'] = df3['Price']/10000

,Price,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool,Price_in_Lac
0,4850000,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0,485.0
1,4500000,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1,450.0
2,6700000,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,670.0
3,4500000,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,450.0
4,5000000,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,2485000,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,248.5
6343,14500000,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1450.0
6344,14500000,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1450.0
6345,4100000,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,410.0
6346,2750000,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,275.0

In [176]:
df4.drop('Price',axis=1,inplace=True)

C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [177]:
df4

,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool,Price_in_Lac
0,720,Kharghar,1,0,0,1,1,1,1,0,0,0,0,0,0,0,0,485.0
1,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1,450.0
2,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,670.0
3,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,450.0
4,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,248.5
6343,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1450.0
6344,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1450.0
6345,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,410.0
6346,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,275.0

In [178]:
df4[df4['No. of Bedrooms'].duplicated()]

,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,Intercom,Landscaped Gardens,Indoor Games,Gas Connection,Jogging Track,Swimming Pool,Price_in_Lac
1,600,Kharghar,1,0,1,1,1,1,1,0,1,0,0,0,0,1,1,450.0
2,650,Kharghar,1,0,1,1,1,1,1,1,1,1,0,0,0,1,1,670.0
3,650,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,450.0
4,665,Kharghar,1,0,0,1,1,1,1,0,0,1,1,0,0,0,0,500.0
8,1356,Kharghar,3,0,1,1,1,1,1,0,1,1,0,0,0,1,1,1050.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,Shirgaon,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,248.5
6343,900,Thane West,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1450.0
6344,900,Thane West,2,0,0,1,0,0,0,0,0,1,0,0,1,0,0,1450.0
6345,1380,Boisar,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,410.0
6346,700,Badlapur East,1,1,1,1,1,0,1,1,1,0,1,1,0,1,1,275.0

In [179]:
dummies = pd.get_dummies(df4.Location)
dummies[dummies['Kharghar']==1]

,15th Road,4 Bunglows,Adaigaon,Agripada,Airoli,Akurli Nagar,Almeida Park,Ambarnath,Ambernath East,Ambernath West,...,Wadala East Wadala,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6274,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6329,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [180]:
df5 = pd.concat([df4,dummies],axis='columns')
df5

,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,...,Wadala East Wadala,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase
0,720,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,600,Kharghar,1,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,650,Kharghar,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,650,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,665,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,Shirgaon,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6343,900,Thane West,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6344,900,Thane West,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6345,1380,Boisar,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6346,700,Badlapur East,1,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [181]:
df5[df5['Kharghar']==1]

,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,...,Wadala East Wadala,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase
0,720,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,600,Kharghar,1,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,650,Kharghar,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,650,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,665,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6190,1050,Kharghar,2,1,1,1,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6270,650,Kharghar,1,0,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
6274,1162,Kharghar,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6319,580,Kharghar,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6329,1220,Kharghar,2,0,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [182]:
df5[df5.Kharghar==0]

,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,...,Wadala East Wadala,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase
186,375,Dombivali,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
187,1200,Churchgate,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
188,1717,Prabhadevi,3,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
189,750,Jogeshwari West,2,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
190,525,Kalyan East,1,0,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,Shirgaon,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6343,900,Thane West,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6344,900,Thane West,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6345,1380,Boisar,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6346,700,Badlapur East,1,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [183]:
X = df5.drop('Price_in_Lac',axis='columns')
X = X.drop('Location',axis=1)
X

,Area,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,...,Wadala East Wadala,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase
0,720,1,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,600,1,0,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,650,1,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,650,1,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,665,1,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6343,900,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6344,900,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6345,1380,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6346,700,1,1,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [184]:
y = df5.Price_in_Lac
y

0        485.0
1        450.0
2        670.0
3        450.0
4        500.0
         ...
6342     248.5
6343    1450.0
6344    1450.0
6345     410.0
6346     275.0
Name: Price_in_Lac, Length: 6029, dtype: float64

In [185]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [186]:
df5.drop('Location',axis=1)

,Area,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,Clubhouse,...,Wadala East Wadala,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase
0,720,1,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,600,1,0,1,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,650,1,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
3,650,1,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,665,1,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6343,900,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6344,900,2,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6345,1380,3,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6346,700,1,1,1,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [187]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.6832399049755064

In [188]:
from sklearn.model_selection import ShuffleSplit,cross_val_score
cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val_score(LinearRegression(),X,y,cv=cv)
#GridSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(x,y):
    algos={
        'linear_regression':{
            'model':LinearRegression(),
            'params':{
                'normalize':[True,False]
            }
        },
        'lasso':{
            'model':Lasso(),
            'params':{
                'alpha':[1,2],
                'selection':['random','cyclic']
            }
        },    
        'decision_tree':{
            'model':DecisionTreeRegressor(),
            'params':{
                'criterion':['mse','freidman_mse'],
                'splitter':['best','random']
            }
        }
    } 
    scores=[]
    cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
    for algo_name,config in algos.items():
        gs = GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model':algo_name,
            'Best_score':gs.best_score_,
            'Best_Params':gs.best_params_
        })
    return pd.DataFrame(scores,columns=['model','Best_score','Best_Params'])

find_best_model_using_gridsearchcv(X,y)

C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:141: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\linear_model\_base.py:148: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py", line 1342, in fit
    super().fit(
  File "C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py", line 394, in fit
    criterion = CRITERIA_REG[self.criterion](self.n_outputs_, n_samples)
KeyError: 'freidman_mse'

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\model_selection\_search.py:953: UserWarning: One or more of the test scores are non-finite: [0.44745573 0.43167866        nan        nan]
  warnings.warn(
C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\tree\_classes.py:397: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warnings.warn(

               model    Best_score                               Best_Params
0  linear_regression -3.340795e+13                      {'normalize': False}
1              lasso  7.028325e-01       {'alpha': 1, 'selection': 'random'}
2      decision_tree  4.474557e-01  {'criterion': 'mse', 'splitter': 'best'}

In [189]:
from sklearn.model_selection import ShuffleSplit,cross_val_score
cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val_score(Lasso(),X,y,cv=cv)

array([0.64968146, 0.73862646, 0.64271162, 0.69754255, 0.78559778])

In [190]:
df6 = df5
df6['No_of_Bedrooms']= df5['No. of Bedrooms']
df6

,Area,Location,No. of Bedrooms,New/Resale,Gymnasium,Lift Available,Car Parking,Maintenance Staff,24x7 Security,Children's Play Area,...,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase,No_of_Bedrooms
0,720,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1,600,Kharghar,1,0,1,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1
2,650,Kharghar,1,0,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
3,650,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1
4,665,Kharghar,1,0,0,1,1,1,1,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,Shirgaon,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6343,900,Thane West,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6344,900,Thane West,2,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6345,1380,Boisar,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
6346,700,Badlapur East,1,1,1,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,1

In [200]:
df6.drop(df.iloc[:, 3:25], inplace=True, axis=1)
df6

,Area,Location,Price_in_Lac,15th Road,4 Bunglows,Adaigaon,Agripada,Airoli,Akurli Nagar,Almeida Park,...,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase,No_of_Bedrooms
0,720,Kharghar,485.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,600,Kharghar,450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,650,Kharghar,670.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,650,Kharghar,450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,665,Kharghar,500.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,Shirgaon,248.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6343,900,Thane West,1450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6344,900,Thane West,1450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6345,1380,Boisar,410.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
6346,700,Badlapur East,275.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [207]:
df6.drop(['15th Road','4 Bunglows'],axis=1)

,Area,Location,Price_in_Lac,Adaigaon,Agripada,Airoli,Akurli Nagar,Almeida Park,Ambarnath,Ambernath East,...,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase,No_of_Bedrooms
0,720,Kharghar,485.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,600,Kharghar,450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,650,Kharghar,670.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,650,Kharghar,450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,665,Kharghar,500.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,Shirgaon,248.5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6343,900,Thane West,1450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6344,900,Thane West,1450.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6345,1380,Boisar,410.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
6346,700,Badlapur East,275.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [211]:
from sklearn.model_selection import ShuffleSplit,cross_val_score
cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
cross_val_score(Lasso(),X,y,cv=cv)

array([0.64968146, 0.73862646, 0.64271162, 0.69754255, 0.78559778])

In [212]:
from sklearn.linear_model import Lasso
lasso = Lasso()
lasso.fit(X_train,y_train)
lasso.score(X_test,y_test)

0.6788869504226165

In [219]:
lasso.predict([['Andheri']])

C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

ValueError: dtype='numeric' is not compatible with arrays of bytes/strings.Convert your data to numeric values explicitly instead.

In [224]:
df6 = df5.drop(['Location'],axis=1)
df6

,Area,Price_in_Lac,15th Road,4 Bunglows,Adaigaon,Agripada,Airoli,Akurli Nagar,Almeida Park,Ambarnath,...,Wadi Bandar,West Amardeep Colony,Western Express Highway Kandivali East,Willingdon,Worli,Worli South Mumbai,Yari Road,Yogi Hills,worli sea Fase,No_of_Bedrooms
0,720,485.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,600,450.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,650,670.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,650,450.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,665,500.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6342,700,248.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6343,900,1450.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6344,900,1450.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
6345,1380,410.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
6346,700,275.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [229]:
def predict_price(Location,Area,No_of_Bedrooms):
    loc_index = np.where(X.columns==Location)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = Area
    x[1] = No_of_Bedrooms
    if loc_index>=0:
        x[loc_index] = 1
    return lasso.predict([x])[0]

In [239]:
predict_price('Andheri',600,2)

C:\Users\dev24\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but Lasso was fitted with feature names
  warnings.warn(

775.1408096085943